node_modules
.next
out
build
coverage
src/generated
.git
.gitignore
.env
.env.*
!.env.example
*.md
e2e
playwright-report
test-results
.vscode
.idea
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log*
